*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* NAVBAR */
nav{
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9999999999;
    transition: background-color 0.1s ease;
}


.navbar.toggled{
    background-color: rgb(1, 51, 1) !important;
}

nav .nav-item{
    transition: all 0.15s ;
}
nav .nav-item:hover{
   transform: scale(1.1);

}

.navtxt{
    color: white
}

@media (min-width: 1000px){
    .nav-link{
        
        font-size: 1.3rem;
    }
    .navbar-brand{
        font-size : 1.6rem;
    }
}
/* NAVBAR */





/* INDEX-HOME */


.hyrja{
    border-radius: 0%;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.homeitems{
    margin-top: 5%;
}
.homeitems a{
    margin-top: 5%;
    backdrop-filter: blur(10px);
}


.carousel{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parag{
    text-align: center;
}

/* INDEX-HOME */


/* SHOPI */
.submariner{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;
    margin-top: 50px;
    text-align: center;
}


.kartat{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    
  }
  
  .kartat .card{
      transition: all 0.3s;
  }
  .kartat .card:hover{
      transform: scale(1.06);
  
  }
  
  .kartat .btn:hover{
      background-color: transparent;
      color:rgb(1, 51, 1);
  }
  
  .kartat .card-body{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      
  }

  .card-img-top{
    object-fit: cover;
    height: 200px;
}
    
.shoptitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 51, 1);
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px

}

/* SHOPI */



/* FOOTER */



.footer {
    background-color: rgb(1, 51, 1);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.footer .icons{
    display: flex;
    justify-content: center;
    gap: 23px;
}
   



.footer a{
    
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}

.footer a:hover {
    text-decoration: underline;
    transform: scale(1.5);    
}

.footer p {
    margin: 5px 0;
    color: white;
    font-size : 18px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    
}








/* KONTAKT */
.kontakttitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 150px;
    color: antiquewhite;
}

#kontakti{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
    color: antiquewhite;
    font-size: larger;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}


.loginbg{
    
    background-size: cover;
    background-repeat: no repeat;
    
}

form{
    backdrop-filter: blur(10px);
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    color: white;
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 15px;
   border-radius: 10px ;
    
   
}



#subbtn{
    transition: all 0.15s ;
}
#subbtn:hover{
   transform: scale(1.02);
   background-color: white;
   color: rgb(110, 49, 6);
}

#subbtn{
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;

}

label{
    color: white;
    
}


.blloku1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#sms{
    margin-top: -50px;
    font-size: 2rem;
    
}



.smsms{
   text-align: center;
   font-family:  Georgia, 'Times New Roman', Times, serif;
}



.container{
    margin-top: 50px;
    margin-bottom: 50px;

}

.alert-error{
    border: 1px solid darkred;
    background-color: rgb(209, 143, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* KONTAKTI */


/* product detail */

.detail-title{
    padding-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:rgb(1, 51, 1);
    
}


.detail-img{
    border-radius: 10px;
    border: 2px solid rgb(1, 51, 1);
    margin-top: 50px;
    width: 65%;
    
}



.detail-p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color:rgb(1, 51, 1);
}

.detail-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 20px;
    background-color:rgb(1, 51, 1);
    color: white;
    width: 20%;
    border-radius: 17px;
    text-align : center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.detail-btn:hover{
    border: 1px solid rgb(1, 51, 1);
    
}

.dpcont{
    display: flex;
    text-align: center;
    
}
/* product detail */


/* media */
@media(max-width : 600px){

    .carousel-inner h1{
        font-size: x-large;
    }
    
}


@media(min-width : 1000px){
   
    .hyrja .btn{
        font-size: 1.3rem;
    }
    .submariner{
        font-size: 3rem;
    }
    .parag{
        font-size: 1.5rem;
    }
    .carousel-inner h1{
        font-size: 3rem;
    }
    .carousel-inner h5{
        font-size: 2.5rem;
    }
    .carousel-inner p{
        font-size : 1.6rem;
    }
}

@media (max-width : 450px){

    .hyrja, .carousel-inner p{
        font-size: smaller;
    }
    

    .detail-title, .submariner{
        font-size: 1.5rem;
    }
    .detail-p{
        font-size: 1rem;
    }
    .detail-btn{
        font-size: 1rem;
        width: 30%;
    }

    .detail-img{
        width: 70%;
    }


}


