<footer class="footer">
    <p>&copy; Luis' Store. All rights reserved.</p>
    <div class="icons">
        
        <a href="https://www.facebook.com" target="_blank"class="ikonat"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank" class="ikonat"><i class="fab fa-instagram"></i></a>
        <a href="name@email.com" class="ikonat"><i class="fas fa-envelope"></i></a>
        <a href="sms:+1234567890" class="ikonat"><i class="fas fa-comment-dots"></i></a>
        <a href="https://www.google.com/maps" target="_blank" class="ikonat"><i class="fas fa-map-marker-alt"></i></a>
    </div>
    <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    
</footer>